
 <mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form" (submit)="onSavePost(postForm)" *ngIf="!isLoading">

    <mat-form-field>
      <input matInput type="text"
      formControlName="title"
      placeholder="Titulo">
      <mat-error *ngIf="form.get('title').invalid">El campo es obligatorio</mat-error>
     </mat-form-field>
     <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Selecciona Imagen</button>
      <input type="file" #filePicker accept="image/*" (change)="onImagePicked($event)">
     </div>
     <mat-form-field>
      <textarea matInput
      rows="6"
      formControlName="content"
      placeholder="Contenido">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">El campo es obligatorio</mat-error>
     </mat-form-field>

     <button
     mat-raised-button
     color="warn"
     type="submit">
      Guardar Post
     </button>

  </form>

 </mat-card>

