
 <mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onSavePost(postForm)" *ngIf="!isLoading">

    <mat-form-field>
      <input matInput type="text"
      name="title"
      placeholder="Titulo">
      <mat-error *ngIf="title.invalid">El campo es obligatorio</mat-error>
     </mat-form-field>
     <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Selecciona Imagen</button>
      <input type="file" #filePicker accept="image/*">
     </div>
     <mat-form-field>
      <textarea matInput
      rows="6"
      name="content"
      placeholder="Contenido">
      </textarea>
      <mat-error *ngIf="content.invalid">El campo es obligatorio</mat-error>
     </mat-form-field>

     <button
     mat-raised-button
     color="warn"
     type="submit">
      Guardar Post
     </button>

  </form>

 </mat-card>

